.footer{
    background-color: rgb(54,53,53);
    margin:0;
    color:white;
    padding-top:20px;
    padding-left:20px;
    font-weight: 400;
    padding-bottom: 20px;
    &__logo a{
        text-decoration: none;
        color:white;
        font-family: 'shrikhand',sans-serif;
    }
    &__logo{
        margin-bottom: 12px;
    }
    &__list--links{
        display:flex;
        flex-direction: column;
        justify-content: center;
        line-height:0;
    }
    &__list--link{
        display:flex;
        align-items:center ;
        gap:10px;
        font-size:0.9em;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &__list--link a{
        text-decoration: none;
        color:white;
    }
}
.fa-utensils,.fa-hands-helping{
    font-size:13px;
}