/*variable pour animation*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes validation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes box_validation {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes loading_opacity {
  0% {
    opacity: 0.9;
    visibility: visible;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loading {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: auto;
}

a {
  text-decoration: none;
}

.main {
  background-color: #eaeaea;
}

.booking__button {
  border-radius: 80px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  color: white;
  width: 220px;
  margin-top: -15px;
}
.booking__button a {
  color: white;
}
.booking__button:hover {
  cursor: pointer;
  opacity: 0.73;
  transition-duration: 400ms;
}

.menu__button {
  border-radius: 80px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  color: white;
  align-self: center;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}
.menu__button:hover {
  cursor: pointer;
  opacity: 0.73;
  transition-duration: 400ms;
}

/* Animation_heart*/
.menu__header--heart, .restaurant__bloc--heart {
  position: relative;
}
.menu__header--heart .fas, .restaurant__bloc--heart .fas {
  left: 0;
  opacity: 0;
  position: absolute;
}
.menu__header--heart i, .restaurant__bloc--heart i {
  color: black;
  left: 50%;
}
.menu__header--heart:hover, .restaurant__bloc--heart:hover {
  cursor: pointer;
  overflow: hidden;
}
.menu__header--heart:hover .far, .restaurant__bloc--heart:hover .far {
  opacity: 0;
  transition: 500ms ease-in-out;
}
.menu__header--heart:hover .fas, .restaurant__bloc--heart:hover .fas {
  opacity: 1;
  transition: 500ms ease-in-out;
  z-index: 999;
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: loading_opacity 2500ms linear forwards;
  visibility: hidden;
}
.point__1 {
  height: 20px;
  width: 20px;
  background: linear-gradient(to right, #9356DC 0%, #9356DC 58%, #99E2D0 100%);
  box-shadow: 3px 8px 44px 2px rgba(147, 86, 220, 0.83);
  border-radius: 100px;
  animation: loading 450ms ease-in-out alternate-reverse infinite;
  animation-delay: 200ms;
}
.point__2 {
  height: 20px;
  width: 20px;
  background: linear-gradient(to right, #99E2D0 0%, #99E2D0 44%, #FF79DA 100%);
  box-shadow: 3px 8px 44px 2px #99E2D0;
  border-radius: 100px;
  animation: loading 450ms ease-in-out alternate-reverse infinite;
  animation-delay: 300ms;
}
.point__3 {
  height: 20px;
  width: 20px;
  background: linear-gradient(to right, #FF79DA 0%, #FF79DA 58%, #9356DC 100%);
  box-shadow: 3px 8px 44px 2px #FF79DA;
  border-radius: 100px;
  animation: loading 450ms ease-in-out alternate-reverse infinite;
  animation-delay: 400ms;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  height: 60px;
}
.header__logo {
  font-family: "shrikhand", sans-serif;
  color: black;
  font-size: 1em;
}

.header__img img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
@media (min-width: 800px) {
  .header__img img {
    height: 350px;
  }
}

.arrow-back {
  position: absolute;
  left: 20px;
  font-size: 20px;
}
.arrow-back a {
  color: #363535;
}

.booking {
  background-color: #f7f6f6;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking__container {
  margin-top: -30px;
  height: 270px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.booking__container--text {
  color: grey;
  font-size: 1em;
  margin-top: -30px;
}

.footer {
  background-color: #363535;
  margin: 0;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer__logo a {
  text-decoration: none;
  color: white;
  font-family: "shrikhand", sans-serif;
}
.footer__logo {
  margin-bottom: 12px;
}
.footer__list--links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
}
.footer__list--link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9em;
}
.footer__list--link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__list--link a {
  text-decoration: none;
  color: white;
}

.fa-utensils, .fa-hands-helping {
  font-size: 13px;
}

.map {
  margin-top: 5px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #585858;
  font-weight: 500;
}
.map__icon {
  color: black;
}
.map__location {
  margin-left: 20px;
}

.operation {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.operation__title {
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 20px;
}
@media (min-width: 800px) {
  .operation__title {
    margin-top: -30px;
    align-self: center;
  }
}
@media (min-width: 1100px) {
  .operation__title {
    margin-top: -30px;
    align-self: center;
  }
}
.operation__blocs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 800px) {
  .operation__blocs {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
    width: 96%;
  }
}
@media (min-width: 1100px) {
  .operation__blocs {
    width: 80%;
    margin-left: 130px;
    gap: 40px;
  }
}
.operation__bloc {
  margin: auto;
  height: 75px;
  width: 88%;
  display: flex;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
  align-items: center;
  gap: 20px;
  border-radius: 22px;
}
.operation__bloc:hover {
  cursor: pointer;
  background-color: #f7edff;
}
.operation__bloc:hover .operation__icon {
  color: #9356DC;
}
.operation__number {
  margin-left: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: white;
  background-color: #9356DC;
  border-radius: 100px;
  height: 25px;
  width: 25px;
}
.operation__icon {
  font-size: 20px;
  color: #7f7e7e;
}

/*  section Restaurant */
.restaurant {
  margin-top: 60px;
  background-color: #f7f6f6;
  padding-top: 20px;
  height: 1200px;
}
@media (min-width: 800px) {
  .restaurant {
    height: 650px;
    margin-top: 30px;
  }
}
.restaurant__title {
  margin-left: 25px;
}
.restaurant__blocs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 800px) {
  .restaurant__blocs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}
.restaurant__bloc {
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 5px 6px 5px rgba(0, 0, 0, 0.1);
  width: 88%;
  margin: auto;
}
.restaurant__bloc:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 5px 5px 6px 5px #aba2b1;
  transition: ease 400ms;
}
@media (min-width: 800px) {
  .restaurant__bloc {
    width: 95%;
  }
}
.restaurant__bloc--new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 30px;
  top: 13px;
  right: 12px;
  background-color: #99E2D0;
  text-decoration: none;
  color: #038766;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 2px;
}
.restaurant__bloc--image {
  height: 170px;
}
.restaurant__bloc--image img {
  width: 100%;
  height: 170px;
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurant__bloc--description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-left: 15px;
  margin-right: 20px;
}
.restaurant__bloc--legend {
  color: black;
  line-height: 8px;
}
.restaurant__bloc--city {
  color: #404040;
  font-weight: 300;
}
.restaurant__bloc--heart {
  font-size: 25px;
  color: #9356DC;
}

/*Menu*/
#menu {
  height: 1300px;
}
@media (min-width: 1100px) {
  #menu {
    height: 680px;
    width: 90%;
  }
}

@media (min-width: 1100px) {
  #menu__bloc {
    display: flex;
    justify-content: center;
  }
}

.menu {
  background-color: #f7f6f6;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -50px;
}
@media (min-width: 1100px) {
  .menu {
    height: 570px;
    width: 90%;
  }
}
.menu__header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-top: 30px;
}
@media (min-width: 1100px) {
  .menu__header {
    justify-content: space-between;
    width: 98%;
    margin-left: 10px;
  }
}
.menu__header--title {
  font-family: "shrikhand", sans-serif;
  font-size: 1.7em;
}
.menu__header--heart {
  font-size: 25px;
}
.menu__flex {
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  .menu__flex {
    flex-direction: row;
    gap: 20px;
  }
}
.menu__bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__bloc h3 {
  font-size: 1em;
  font-weight: 400;
}
.menu__bloc--underline {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-top: -30px;
}
.menu__bloc--description {
  background-color: white;
  border-radius: 15px;
  height: 70px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: opacity 1000ms both;
  /*boucle_animations*/
}
.menu__bloc--description--1 {
  animation-delay: 100ms;
}
.menu__bloc--description--2 {
  animation-delay: 200ms;
}
.menu__bloc--description--3 {
  animation-delay: 300ms;
}
.menu__bloc--description--4 {
  animation-delay: 400ms;
}
.menu__bloc--description--5 {
  animation-delay: 500ms;
}
.menu__bloc--description--6 {
  animation-delay: 600ms;
}
.menu__bloc--description--7 {
  animation-delay: 700ms;
}
.menu__bloc--description--8 {
  animation-delay: 800ms;
}
.menu__bloc--description--9 {
  animation-delay: 900ms;
}
.menu__bloc--description--10 {
  animation-delay: 1000ms;
}
.menu__bloc--description:hover .menu__bloc--box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: box_validation 400ms ease-in-out;
  transform-origin: right;
}
.menu__bloc--description:hover .menu__bloc--price {
  transition: 400ms ease-in-out;
  padding-right: 50px;
}
.menu__bloc--info {
  height: 70px;
  width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__bloc--plat {
  font-size: 1.1em;
  font-weight: 500;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__bloc--platlight {
  height: 18px;
  font-weight: 200;
  font-size: 0.9em;
  margin-top: -12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__bloc--price {
  font-weight: 500;
  margin-right: 20px;
  margin-bottom: -5px;
}
.menu__bloc--box {
  display: none;
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  height: 70px;
  width: 60px;
}
.menu__bloc--box i {
  background-color: #99E2D0;
  color: white;
  font-size: 30px;
  animation: validation 500ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */

